body {
  font-family: 微软雅黑, Tahoma, Arial, 宋体;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:  #fff;
  overflow-x: hidden;
}
p {
  margin: 0;
}
a , a:focus, a:hover{
  text-decoration: none;
  color: #1e96d5;
  cursor: pointer;
}
button {
  cursor: pointer;
}
.line-bottom {
  border-bottom: 1px dashed #ccc;
}
.padding-bottom {
  padding-bottom: 30px;
}
.padding-top {
  padding-top: 30px;
}
.padding-left {
  padding-left: 16px;
}
.padding-right {
  padding-right: 16px;
}
.page-header {
  margin-top: 0;
  margin-bottom: 0;
  border: none;
  font-size: 14px;
  margin-bottom: 10px;
}
.customer-color {
  color: #1e96d5 !important;
}
.setting {
  margin-bottom: 30px;
  background-color: #fff;
  border: 1px solid #ececec;
  padding: 0 25px 25px;
  font-size: 14px;
  .title{
    font-size: 18px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    i {
      color: #999;
    }
  }
}
.pagenations {
  position: relative;
  height: 40px;
  border: 1px solid #ccc;
  
  .pagination {
    margin-top: 4px;
    margin-bottom: 0;

    >li {
      >a,
      >span {
        padding: 5px 11px;
        background: transparent;
        border: 0;
        margin-left: 10px;
        border-radius: 6px;
        outline: none;

        &:hover, &:focus {
          color: #fff;
          background-color: #1e96d5;
        }
      }
      &.active {
        a,span {
          background-color: #1e96d5;
          &:hover, &:focus {
            color: #fff;
            background-color: #1e96d5;
            box-shadow: none;
          }
        }
      }
      &.disabled {
        a, span {
          background: transparent;
          &:hover {
            background: transparent;
          }
        }
      }
    }
  }
  .right{
    position: absolute;
    right: 20px;
    top: 9px;
    .customer-color {
      font-weight: bold;
    }
  }
}
.modal-body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  label {
    margin-right: 17px;
  }
  .form-control{
    width: 80%;
  }
}